.table {
  .css-1yrc8ca-MuiInputBase-input-MuiInput-input.Mui-disabled {
    -webkit-text-fill-color: rgba(9, 9, 9, 0.8);
  }

  .edit {
    div::before {
      display: none;
    }
  }
}

#tbl {
  &::-webkit-scrollbar {
    background-color: #ccc;
    width: 12px;
    border-radius: 0 5px 5px 0;
  }

  &::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.2, #8a8a8a),
      color-stop(1, #383838)
    );
    border: #ccc 2px solid;
    border-radius: 10px;
  }
}

.add-film {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  height: 4em;

  label {
    position: absolute;
    top: 10%;
    color: #999 !important;
    background-color: #242424;
    padding: 0 10px;
  }

  div {
    height: 100%;
  }

  input {
    box-sizing: border-box;
    text-indent: 10px;
    height: 100%;
    border-radius: 10px;
    border: #4e4e4e 2px solid;
    background: none;
    color: #999;
    transition: border 0.2s ease-in-out;

    &:hover {
      border: #727272 2px solid;
    }

    &:focus {
      border: #ccc 2px solid;
      outline: none;
    }
  }

  fieldset {
    border: none;
  }

  button {
    height: 100%;
    border: none;
    box-shadow: 0 0 0 2px #4e4e4e;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 2px #6d6d6d;
    }
  }
}

.row-button {
  height: 100%;
  border: none;
  box-shadow: 0 0 0 1px #949494;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 0 1px #4e4e4e;
  }

  path {
    filter: invert(0.8);
  }
}
