.table {
  .css-1yrc8ca-MuiInputBase-input-MuiInput-input.Mui-disabled {
    -webkit-text-fill-color: rgba(9, 9, 9, 0.8);
  }

  .edit {
    div::before {
      display: none;
    }
  }
}

.add-film {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 4em;

  label {
    position: absolute;
    top: 10%;
    color: #999 !important;
    background-color: #242424;
    padding: 0 10px;
  }

  div {
    position: relative;
    box-sizing: border-box;
    height: 100%;
  }

  input {
    border-radius: 10px;
    border: #4e4e4e 2px solid;
    background: none;
    color: #999;
    width: 20em;
    transition: border 0.2s ease-in-out;

    &:hover {
      border: #727272 2px solid;
    }

    &:focus {
      border: #ccc 2px solid;
      outline: none;
    }
  }

  fieldset {
    border: none;
  }

  button {
    height: 100%;
    border: none;
    box-shadow: 0 0 0 2px #4e4e4e;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 2px #6d6d6d;
    }
  }
}

#remove-line {
  height: 100%;
  border: none;
  box-shadow: 0 0 0 1px #949494;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 0 1px #4e4e4e;
  }

  path {
    filter: invert(0.8);
  }
}
