.filter-films {
  background-color: #383838;
  border-radius: 10px;
  max-width: 60vw;

  .filter-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
    padding: 1em;
    max-width: 100%;

    .filter-category {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1em;
      max-width: 100%;

      .category-title {
        font-weight: 600;
        font-size: large;
        text-align: start;
        width: 100%;
      }

      .section {
        box-sizing: border-box;
        max-width: 100%;
        align-items: center;

        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        border: #929292 1px solid;
        border-radius: 5px;
        padding: 0 5px;

        .content {
          display: flex;
          flex-direction: row;
          gap: 2px;

          .title {
            color: white;
          }

          input {
            font-size: 1em;
            color: rgb(160, 160, 160);
            background: none;
            border: none;

            &:focus {
              border: none;
              outline: none;
              cursor: pointer;
            }
          }

          input[type="number"] {
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }

            width: 1.1em;
          }

          select {
            -webkit-appearance: none;

            font-size: 1em;
            color: rgb(160, 160, 160);
            background: none;
            border: none;
            border-radius: 1px;
            outline: none;

            &:focus {
              border: none;
              outline: none;
              cursor: pointer;
            }

            option {
              background-color: #383838;
            }
          }
        }
      }
    }

    button {
      width: 6em;
    }
  }

  button {
    box-sizing: border-box;
    max-width: 100%;
    color: white;
    border-radius: 10px;

    &:hover {
      background-color: #929292;
    }
  }
}
